.Login {
    padding: 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 2rem auto;
    width: 50rem;
    max-width: 50%;
    
  }
  .linkto{
    text-decoration: none;
    color: #008CBA;
  }
  .signup {
    padding: 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 2rem auto;
    width: 50rem;
    max-width: 50%;
    
  }
  .signinput{
    border-radius: 2px;
    border-color: #008CBA;
  }
  .signlabel{
    align-self: left;
    font-size: small;
  }
.signbutton{
    width: 50%;
    background-color: #008CBA;
}
 